body {
  font-family: 'TTHoves', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}